header{
  height: 50px;
  background-color: #444444;
  margin: -20px;
  position:fixed;
  width: 120%;
  padding-bottom:20px;
}

// footer{
  background-color:white;
  height:40px;
  width: 120%;
  margin: -20px;
}
body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: #f4e6d8;
}
h1, h2, h3, h4, h5,h6{
    font-family: "Arial Black", Gadget, sans-serif;
}
header ul{
  list-style: none;
  width: 100%;
}

header li{
  display: flex;
  margin: 1em;
  float: left;
  font-weight: bold;
}

header li a{
  text-decoration: none;
  color: white;
}

article p, h1, h2, h3, h4, h5, h6{
  color:#3d3d3d;
}

h1{
  color:#526F89
}

article p{
  margin: 5px;
  line-height: 1.4em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  text-align: center;
}

article
{
  border-style: solid;
  border-color: #C5AFA4;
  color: #444444;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
  background-color: #C5AFA4;
  margin-bottom: 1em;
}

main{
  padding-top:40px;
}
b{
  color:#C5AFA4;
}
fieldset{
  margin: 10px;
  color:white;
  border:none;
}
legend{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:white;
}
input, select, .submit
{
  padding: 0 .5em;
  line-height: 2.3em;
  border: 1px solid #91a3b7;
  color: #606060;
  font-size: 1em;
  border-radius: .5em;
  width: 95%;
}

#rad1, #rad2{
  height:1em;
  width:auto;
}

.contact, .delete{
  float: right;
  margin-right: 5px;
}

.registreerformulier{
  background-color:#C5AFA4;
  margin-top:-6px;
}

.resultaten
{
  border-style: solid;
  border-color: white;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1em;
  width: 100%
}

.flexcontainer {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.eigenschappen {
  display:inline-block;
  font-size: 14px;
  float: left;
}

.eigenschappenmatch {
  color: #d4145a;
  float: left;
  font-size: 14px;
  margin-right: 10px;
}

.eigenschappen li{
  display: flex;
  margin: 2px;
  font-weight: bold;
  list-style-type: none;
}

select{
  height: 3em;
    background-color: white;
    border-radius: 10px;
}

.submitreg{
  text-align: center;
  font-size: 1.5em;
  border:none;
  width: 50%;
  margin-left:25%;
  margin-bottom:10px;
  margin-top:10px;
  color:white;
  background-color: #CF4D6F;
}

.beschrijving{
  display: inline-block;
  width: 100%;
}

.contact {
  color: #a1055b;
}

.informatiematch {
  margin: 5px;
}

.deletebutton {
  text-align: center;
  font-size: 1em;
  border:none;
  width: 100%;
  height:35px;
  margin-bottom:10px;
  color:white;
  background-color: #a1055b;
}
