<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>FoodLove</title>
</head>
<body>
  <header>
    <nav>
        <ul>
            <li class ='logo'><a href="indexingelogd.html"><img src="images/foodlove.png" alt="FoodLove">
            </a></li><li><a href="matches.html">matches
            </a></li><li><a href="profiel.html">profiel
            </a></li>
        </ul>
    </nav>
</header>

<main>
  <h1> Zoek een match </h1>
    <article>
      <p> Op zoek naar iemand die jouw liefde voor lekker eten deelt? registreer nu en vind iemand om samen een leuke avond samen te eten, want echte liefde gaat door de maag!</p>
    </article>
  <section>
    <div class='card'>
      <h1>Beatrix</h1>
      <div class='imgWrapper'>
        <img src="images/beatrixportret.jpg" alt="beatrix">
      </div>
      <ul class='eigenschappen'>
        <li>Vegatarisch</li>
        <li>Chinees</li>
        <li>35 jaar oud</li>
      </ul>
      <a>Ik houd van chinees eten en ben vegatarisch, heb jij zin om bij mij een avondje te komen eten? mijn specialiteit is bakkabana.</a>
      <button type="button">Neem contact op</button>
      <button type="button">Meer informatie</button>
    </div>
    <div class='card'>
      <h1>Sanne</h1>
      <div class='imgWrapper'>
        <img src="images/sanneportret.jpg" alt="beatrix">
      </div>
      <ul class='eigenschappen'>
        <li>Vegatarisch</li>
        <li>Europees</li>
        <li>30 jaar oud  </li>
      </ul>
      <a>Hoi ik ben Sanne! een foodie in hart en nieren, ik reis graag en probeer uit al mijn reizen insipiratie te halen voor in de keuken.</a>
      <button type="button">Neem contact op</button>
      <button type="button">Meer informatie</button>
    </div>
</main>

<footer>
</footer>

</body>
</html>
