<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>FoodLove</title>
</head>
<body>
<header>
  <nav>
    <ul>
        <li><a href="/">foodlove
        </a></li><li><a href="inloggen">inloggen
        </a></li><li><a href="registreren">registreren
        </a></li>
    </ul>
  </nav>
</header>

<main>
  <h1> Vind jouw foodmate! </h1>
  <section>
    <article>
      <p> Op zoek naar iemand die jouw liefde voor lekker eten deelt? registreer nu en vind iemand om een leuke avond samen te eten.</p>
    </article>
  </section>
</main>

<footer>
</footer>

</body>
</html>
