<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>FoodLove</title>
</head>
<body>
  <header>
    <nav>
      <ul>
          <li><a href="index">foodlove
          </a></li><li><a href="inloggen">inloggen
          </a></li><li><a href="registreren">registreren
          </a></li>
      </ul>
    </nav>
  </header>

<main>
  <h1> Zoek een match </h1>
    <article>
      <p> Op zoek naar iemand die jouw liefde voor lekker eten deelt? registreer nu en vind iemand om samen een leuke avond samen te eten, want echte liefde gaat door de maag!</p>
    </article>
  <section>
    <div class='match'>
      <h1>Beatrix</h1>
      <div class='imgWrapper'>
        <img src="images/beatrixportret.jpg" alt="beatrix">
      </div>
      <ul class='eigenschappen'>
        <li>Vegatarisch</li>
        <li>Chinees</li>
        <li>35 jaar oud</li>
      </ul>
      <a>Ik houd van chinees eten en ben vegatarisch, heb jij zin om bij mij een avondje te komen eten? mijn specialiteit is bakkabana.</a>
      <a class="contact">Neem contact op</a>
    </div>
</main>

<footer>
</footer>

</body>
</html>
