<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>Login</title>
</head>
<body>
  <header>
    <nav>
      <ul>
          <li><a href="index">foodlove
          </a></li><li><a href="inloggen">inloggen
          </a></li><li><a href="registreren">registreren
          </a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Vul uw gegevens in</h1>
    <article>
      <p>om in te loggen voert u uw naam en wachtwoord in</p>
    </article>
  <form action=/login method=post>
    <fieldset>
    <label>
      Username
      <input name=naam>
    </label>
    </fieldset>
    <fieldset>
    <label>
      Password
      <input name=wachtwoord type=password>
    </label>
    </fieldset>
    <input class="submitreg" type="submit" value="login">
  </form>
</main>
</body>
</html>
