<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>FoodLove</title>
</head>
<body>
<header>
  <nav>
      <ul>
          <li class ='logo'><a href="indexingelogd.html"><img src="images/foodlove.png" alt="FoodLove">
          </a></li><li><a href="matches.html">matches
          </a></li><li><a href="profiel.html">profiel
          </a></li>
      </ul>
  </nav>
</header>
<article class='resultaten'>

</article>
</body>
</html>
